.filter {
  $self: &;

  margin-bottom: 50px;

  &__item {
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 20px;
    }

    &--open {
      #{$self}__body {
        display: block;
        margin-top: 15px;
      }

      #{$self}__toggle {
        transform: rotate(180deg);
      }
    }

    &--selected {
      #{$self}__body {
        display: block;
        margin-top: 15px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15px;
  }

  &__toggle {
    margin-left: auto;
    width: 14px;
    height: 14px;
    color: #aaa;
    transition: transform 0.3s;
  }

  &__clear {
    margin-left: auto;
    transition: color 0.3s;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--color-green);
      transition: color 0.3s;
    }

    svg {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      fill: #ff2b2b;
    }
  }

  &__body {
    display: none;
  }

  &__selected {
  }

  &__options {
  }

  &__option {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.selected-filter {
  &__list {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    line-height: 19px;
    padding: 4px 10px;
    border-radius: 20px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(#f1f1f1, 5%);
      transition: background-color 0.3s;
    }

    span {
      font-weight: 700;
      margin-left: 5px;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: #a0a0a0;
      margin-left: 5px;
    }
  }
}

.filter-checkbox {
  $self: &;

  cursor: pointer;
  display: inline-block;
  user-select: none;

  &:hover {
    #{$self}__text {
      &::before {
        border-color: #000;
        transition: all 0.3s;
      }
    }
  }

  &__input {
    &:checked {
      + #{$self}__text {
        &::before {
          border-color: var(--color-green);
          background-color: var(--color-green);
          transition: all 0.3s;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 3px;
          width: 16px;
          height: 16px;
          background: url('../img/filter-check.svg') no-repeat center center;
        }
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    position: relative;
    padding-left: 26px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      border: 1px solid #d2d2d2;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      transition: all 0.3s;
    }

    span {
      color: #a2a2a2;
      margin-left: 5px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.filter-price {
  margin-top: 10px;

  &__slider {
    margin-bottom: 15px;
  }

  &__inputs {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 20px;
  }

  &__input {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    height: 32px;
    width: 90px;
    padding: 0 10px;

    &:last-child {
      margin-left: 10px;
    }
  }
}

.noUi {
  &-horizontal {
    height: 3px;

    .noUi-handle {
      width: 24px;
      height: 24px;
      top: -10px;
      right: -22px;
    }

    .noUi-handle-upper {
      right: -2px;
    }
  }

  &-target {
    background-color: #e0e0e0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 3px;
  }

  &-connect {
    background-color: var(--color-green);
  }

  &-handle {
    box-shadow: none;
    border-radius: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ededed;

    &::before,
    &::after {
      display: none;
    }
  }
}
